<mat-nav-list>
    <!-- Avatar dell'utente -->
    <div class="user-avatar">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRumXEBJjTO4W2DFufLUSG_miXOy7rR23VvY8B-X4Cvjg&s" alt="Avatar dell'utente" width="150" height="150">
    </div>

    <!-- Voci di menu -->
    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>dashboard</mat-icon>
        </button>
        <span>Dashboard</span>
    </mat-list-item>

    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>group</mat-icon>
        </button>
        <span>Gruppi</span>
    </mat-list-item>

    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>forum</mat-icon>
        </button>
        <span>Post</span>
    </mat-list-item>

    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>location_on</mat-icon>
        </button>
        <span>I Miei Posti</span>
    </mat-list-item>

    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>cloud_upload</mat-icon>
        </button>
        <span>File Caricati</span>
    </mat-list-item>

    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>event</mat-icon>
        </button>
        <span>Eventi</span>
    </mat-list-item>

    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>event_note</mat-icon>
        </button>
        <span>Eventi Creati</span>
    </mat-list-item>
    <!-- Aggiungi altre voci di menu secondo necessità -->
</mat-nav-list>
